h1 {
    color: #e74c3c !important; /* Цвет заголовков */
}

.main-container {
    padding: 20px;
    color: #e74c3c !important;
    text-align: center;
}

.user-info {
    margin-bottom: 30px;
    color: #fff !important; /* Цвет текста - белый */
}

.password-change-form {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    color: #e74c3c !important;
    text-align: left; /* Выравнивание текста по левому краю */
    width: 300px; /* Фиксированная ширина формы */
}

.password-change-form h3 {
    color: #e74c3c !important;
    margin-bottom: 20px;
    text-align: center; /* Выравнивание заголовка по центру */
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e74c3c;
    background-color: #222;
    color: #e74c3c;
    box-sizing: border-box; /* Учет padding в ширине поля */
}

/* Кнопки */
.change-password-button, .toggle-password-button {
    width: 100%; /* Кнопки на всю ширину */
    padding: 10px 20px;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.change-password-button:hover, .toggle-password-button:hover {
    background-color: #c0392b;
}

/* Сообщения */
.message {
    margin-top: 15px;
    color: #e74c3c !important;
    text-align: center; /* Выравнивание текста сообщений по центру */
}
